* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #255d92;
    color: #fff;
    
  }
  
  nav {
    display: flex;
    background-color: #aaa3eb;
    justify-content: flex-end;
  }
  
  nav a:hover{
    touch-action: double-tap-zoom;
    background-color: #F1C863;
  }

  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration:wavy;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    justify-content: space-evenly;
    font-size: larger;
    flex: 1;
    background-color: #21c3f5ee;
    padding: 30px;
    text-align: left;
    
    
  }


  aside:hover{
    cursor: crosshair;
    text-decoration: maroon;
    list-style-type: square;
  }
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
  
  .products {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
  }
  .card {
    border-style:solid;
    border-width: 2px;
    border-radius: 25px;
    box-shadow: 10px 5px 0px grey;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
  }
  
  .card header {
    
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    min-height: fit-content;
    width: 100%;
    border-radius: 25px;
  }

  .content-footer {
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #73A8C2;
    text-decoration: none;
  }
  .social > li {
    display: inline-block;
    bottom: 0;
    position:fixed;
    margin: 0 10px;
    font-size: xx-large;
  }
  .content-footer > p {
    color: #F7EDE1;
  }
  a { 
      
    /* position: fixed;   */
      font-weight: bold;
      text-decoration: none;
      color: #ee2c2c;
      font-size: 125%;
  }

  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    
    }
  }
  